.App-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.137);
  width: 100%;
  height: 900px;

}
.container{
  background-color:rgba(19, 88, 88, 0.311) ;
  width: 500px;
  border-radius: 20px;
  padding: 50px;
}
.head{
  font-size: 15px;
  font-weight: 300;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
p{
  font-size: small;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card{
  width: 500px;
  height: 150px;
  background-color: rgba(72, 181, 181, 0.392) ;
  border-radius: 10px;
  
}
.symbol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 40px;
  font-weight: 500;
}
#para{
  text-align: center;
}
.input{
  display: flex;
  flex-direction: column;
  padding: 10px;

}
#btn1{
  background-color: rgba(7, 39, 39, 0.73) ;
}
#btn2{
  color: black;
 
}
